body {
	font-size: 1.25rem;
}

p {
	font-size: 1.25rem;
}

a {
	text-decoration: underline;
	font-size: 1.25rem;
	color: #000;
}

table {
	width: 90%;
	border-collapse: collapse;
}

.syllabus table {
	width: 50%;
}
